* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: sans-serif, Segoe UI, Tahoma, Geneva, Verdana;
}

a {
    text-decoration: none;
}

.bg-red {
    background-color: rgb(124, 1, 1);
}

.font-sans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.font-fm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.hero-content img {
    width: 60%;
    height: 550px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
}

.hero-content { 
   padding: 30px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   justify-content: center;
}

.hero-content p {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-content h2 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.hero-content a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.hero-content a:hover {
    background-color: red;
    border-radius: 30px;
    padding: 10px;
    transition: 2s;
}

.hero-article {
    display: flex;
    padding-top: 40px;
    background-color: rgb(163, 163, 163);
}

.container-content a:hover {
    background-color:red;
    border-radius: 30px;
    padding: 7px;
    transition: 2s;
}

.hero-article img {
    width: 50%;
    height: 600px;
    object-fit: cover;
    border-radius: 40px;
    padding: 20px;
}

.container-content h2 {
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.container-content p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.container-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.container-content a {
    text-decoration: none;
    padding: 7px;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.entradas {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.entradas a:hover {
    background-color: red;
    border-radius: 30px;
}

.hero-entradas {
    display: flex;
    flex-direction: column;
    width: 600px;
    position: relative;
}

.hero-entradas img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 20px;
    border: 2px solid black;
}

.entradas-content h3 {
    color: black;
    text-align: center;
    font-size: 24px;
}

.entradas-content a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    color: white;
    font-size: 18px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
}

.entradas-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.hero-entradas span {
    background-color: red;
    padding: 10px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: -20px;
}

.contacto {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}

.end {
    background-color: red;
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}



