* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: sans-serif, Segoe UI, Tahoma, Geneva, Verdana;
}

a {
    text-decoration: none;
}

.bg-red {
    background-color: rgb(124, 1, 1);
}

.font-sans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.font-fm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.hero-content img {
    width: 60%;
    height: 550px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
}

.hero-content { 
   padding: 30px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   justify-content: center;
}

.hero-content p {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-content h2 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.hero-content a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.hero-content a:hover {
    background-color: red;
    border-radius: 30px;
    padding: 10px;
    transition: 2s;
}

.hero-article {
    display: flex;
    padding-top: 40px;
    background-color: rgb(163, 163, 163);
}

.container-content a:hover {
    background-color:red;
    border-radius: 30px;
    padding: 7px;
    transition: 2s;
}

.hero-article img {
    width: 50%;
    height: 600px;
    object-fit: cover;
    border-radius: 40px;
    padding: 20px;
}

.container-content h2 {
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.container-content p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.container-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.container-content a {
    text-decoration: none;
    padding: 7px;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.entradas {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}


.entradas a:hover {
    background-color: red;
    border-radius: 30px;
}

.hero-entradas {
    display: flex;
    flex-direction: column;
    width: 600px;
    position: relative;
}

.hero-entradas img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 20px;
    border: 2px solid black;
}

.entradas-content h3 {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

.entradas-content a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
}

.entradas-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.hero-entradas span {
    background-color: red;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: -20px;
}

.contacto {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}

/* car section */

.cars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "car1 car1 car2 car2"
    "car3 car4 car4 car5"
    "car6 car6 car7 car7"
    "car8 car8 car9 car10";
    padding: 10px;
    gap: 10px;
}

.car-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.car-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    gap: 10px;
}

.car-content h2 {
    font-size: 1,2rem;
    text-align: center;
    background-color: red;
}

.car-content a {
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
}

.car-item {
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
}


.c1 {
    grid-area: car1;
}

.c2 {
    grid-area: car2;
}

.c3 {
    grid-area: car3;
}

.c4 {
    grid-area: car4;
}

.c5 {
    grid-area: car5;
}

.c6 {
    grid-area: car6;
}   

.c7 {
    grid-area: car7;
}

.c8 {
    grid-area: car8;
}

.c9 {
    grid-area: car9;
}

.c10 {
    grid-area: car10;
}

/* notice section */

.notice-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "notice1 notice1 notice1 notice2"
    "notice3 notice4 notice4 notice4";
    padding: 10px;
    gap: 10px;
}

.notice-box img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.notice-content {
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    gap: 10px;
}

.notice-content h2 {
    font-size: 1,2rem;
}

.notice-content a {
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 10px;
}

.notice-content a:hover {
    background-color: rgba(0, 0, 0, 0.445);
    transition: 1s;
}

.notice-box {
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
}

.n1 {
    grid-area: notice1;
}

.n2 {
    grid-area: notice2;
}

.n3 {
    grid-area: notice3;
}

.n4 {
    grid-area: notice4;
}